*.out
*.o
*.gz
*.log
*.pyc
.DS_Store
data/
build*
*.pro.user
.Rhistory
.RData
meeting/
.ipynb_checkpoints/
.vscode
.atom-beautify.*
*.so
Makefile
CMakeFiles/
CMakeCache.txt
*.cmake
__pycache__/
.Rhistory

